body{
    font-family: "Poppins";
}

.bg_color{
    background: linear-gradient(to right ,#FFA453,#FFD0A7);
}
.heading{
    font-size: 4rem;
    color: white;
    font-weight: 700;
}
.subheading{
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
}
.btn_explore{
    color: #FFA453;
    font-weight: 600;
}
.hotItems_heading{
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;

}
.hotItems_subheading{
    color: white;
    font-size: 1.2rem;

}